@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{

    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
          method="post" class="navbar-left">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarColor01">
            <ul class="navbar-nav flex-grow-1 flex-sm-row-reverse">
                @* <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
                    Logout : @User.Identity?.Name &nbsp;
                </button> *@
                <li class="nav-item">
                    <input class="nav-link text-secondary-emphasis" type="submit" name="name" value="Sair" />
                </li>
            </ul>
        </div>
    </form>
}
else
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarColor01">
        <ul class="navbar-nav flex-grow-1 flex-sm-row-reverse">
            <li class="nav-item">
                <a class="nav-link text-secondary-emphasis" asp-area="" asp-controller="Account" asp-action="Register">Registrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary-emphasis" asp-area="" asp-controller="Account" asp-action="Login">Entrar</a>
            </li>
        </ul>
    </div>
}